*{
  font-family: 'Segoe UI';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.message_type_button {
  min-width: 350px;
  min-height: 350px;
  max-width: 350px;
  max-height: 350px;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;

  border-radius: 10px;
  background: #282c34;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #303030,
    inset -5px -5px 10px #222;
  cursor: pointer;
  border: none;
  color: #d6d6d6;
  transition: 500ms;
}

.message_type_button:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}