* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

a{
  text-decoration: none;
  color: white;
}

.App-logo {
  height: 40vmin;
  margin: -50px;
  pointer-events: none;
}

.header_logo {
  height: 15vh;
  margin: -20px;
  margin-left: 10px;
  pointer-events: none;
}

.header_menu {
  background-color: #282c34;
  min-height: 10vh;
  max-height: 10vh;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.App {
  background-color: #282c34;
  min-height: 80vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.CreatePage{
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  direction: rtl;
  flex-wrap: wrap;
}

.header_text {
  font-weight: bold;
  font-size: 30px;
}

.links_div{
  margin-right: 25px;
  display: flex;
  direction: rtl;
}

.link_text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.link_text:hover{
  text-decoration: underline;
}

.message_type_button_div {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  flex-wrap: wrap;
}

.neumorphism{
  border-radius: 10px;
  background: #282c34;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #303030,
    inset -5px -5px 10px #222;
  border: none;
  color: #d6d6d6;
}

.message_type_button {
  min-width: 250px;
  min-height: 200px;
  max-width: 250px;
  max-height: 200px;
  margin: 10px;
  font-weight: bold;
  transition: 500ms;
  cursor: pointer;
}

.message_sections{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 1100px;
  max-height: 1100px;
  min-width: 500px;
  margin: 20px;
  margin-top: 0px;
  align-items: center;
  overflow: auto;
}

.message_output_button_div{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  width: 100%;
}

.message_output_button{
  font-weight: bold;
  width: 45%;
  height: 100px;
}

.message_output{
  width: 85%; 
  flex: 1;
  padding: 20px;
  resize: none;
  margin-bottom: 25px;
}

.edit_message_div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 85%;
  margin: 10px;
}

.message_edit_text{
  font-weight: bold;
  margin: 10px;
}

.one_line_input_field{
  border-radius: 10px;
  background: #282c34;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #303030,
    inset -5px -5px 10px #222;
  border: none;
  color: #d6d6d6;  text-align: center;
  padding: 10px;
  margin: 10px;
  min-width: 50px;
}

.multi_line_input_field_div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.multi_line_input_field{
  display: flex;
  resize: none;
  margin: 10px;
  min-width: 95%;
}

.message_output:focus {
  outline: none;
}